/* Root variables */
:root {
  --brand: #25d9f3;
  --secondary: #67696d;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
  color: white;
  margin: 0;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--sans);
  color: var(--secondary);
  font-size: 80%;
}

h2,
h3,
h4 {
  font-family: var(--sans);
  color: var(--brand);
}

/*                    Main Contents    */

main {
  font-family: var(--mono);
}

#section-brand {
  background-color: var(--brand);
  margin: 0;
}

#section-secondary {
  background-color: var(--secondary);
  margin: 0;
}

#header {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: 5px;
}

#header img {
  width: 5rem;
  height: 5rem;
}

#content {
  padding: 1.5rem;
}

#content-white {
  padding: 1.5rem;
  background-color: white;
  color: black;
}

a {
  color: inherit;
}

@media (min-width: 850px) {
  #content,
  #content-white,
  #header {
    max-width: 80%;
    margin: 0 auto;
  }
}
