/* Root variables */
:root {
  --brand: #25d9f3;
  --secondary: #67696d;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--secondary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--sans);
}

/*                    Main Contents    */

main {
  font-family: var(--mono);
}

header {
  background-color: var(--brand);
  border-radius: 5;
}

#introduction {
  background-color: var(--brand);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#contact {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
